<template name="header">
  <header class="jumbotron">
    <h1>Dudo-meter</h1>
    <p>This is a dudo-meter. It helps you follow after Andrzej Duda's promises.</p>
  </header>
  <div class="well">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Wszystkie</a></li>
      <li role="presentation"><a href="#">Spełnione</a></li>
      <li role="presentation"><a href="#">Niespełnione</a></li>
      <li role="presentation"><a href="#">W toku</a></li>
    </ul>
  </div>
</template>
