<template name="header">
  <header class="jumbotron">
    <h1>Dudo-meter</h1>
    <p>This is a dudo-meter. It helps you follow after Andrzej Duda's promises.</p>
  </header>
  <div class="well">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Wszystkie <span class="badge">{{allPromises}}</span></a></li>
      <li role="presentation"><a href="#">Spełnione <span class="badge">20</span></a></li>
      <li role="presentation"><a href="#">Niespełnione <span class="badge">10</span></a></li>
      <li role="presentation"><a href="#">W toku <span class="badge">9</span></a></li>
    </ul>
  </div>
</template>
